$font-white: #FFFFFF;
$font-red: #FF0000FF;

.loading-page {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: $font-white;
  align-items: center;
  justify-content: center;
  color: $font-red;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}