@import "src/styles/variables";

.loading-page {
  display: flex;
  width: 100%;
  min-height: 45vh;
  background-color: $white;
  align-items: center;
  justify-content: center;
  color: $red;
  font-size: $big-font-size;
  font-weight: $font-weight-large;
  text-transform: uppercase;
}