@import "src/styles/variables";

.navigation {
  position: relative;

  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    min-height: 40px;
  }

  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }

  @media screen and (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    min-height: 70px;
  }
}

.navigation__header {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 28px;
  font-weight: 700;

  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 0;
  }

  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    font-size: 21px;
  }

  @media screen and (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    font-size: 28px;
    padding: 17px 0;
  }

  &:hover {
    color: $orange;
  }
}

.navigation__bar {
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    padding: 0 20px;
  }

  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    padding: 0 40px;
  }

  @media screen and (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    padding: 0 60px;
  }
}

