$mobileDevice: 320px;
$tabletDevice: 660px;
$desktopDevice: 1024px;

$font-black: #000000;
$font-white: #FFFFFF;
$font-gray: rgba(0, 0, 0, 0.41);
$font-green: #06b25a;
$font-red: #FF0000FF;
$font-orange: #f44d42;

.navigation {
  position: relative;
  min-height: 70px;
}

.navigation__header {
  text-transform: uppercase;
  text-decoration: none;
  color: $font-white;
  font-size: 28px;
  font-weight: 700;
  padding: 17px 0;

  &:hover {
    color: $font-green;
  }
}

.navigation__bar {
  background-color: $font-black;
  color: $font-white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 60px;

  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
  }

  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }

  @media screen and (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
}

.navigation__links {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $desktopDevice) {
    grid-gap: 12px;
  }
}

.navigation__link {
  display: flex;
  text-decoration: none;
  color: $font-black;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $desktopDevice) {
    min-width: 205px;
    min-height: 40px;
    background-color: $font-white;
    font-weight: 600;
    font-size: 14px;

    &:hover {
      background-color: $font-black;
      color: $font-white;
      border: 1px solid $font-white;
    }
  }
}

