$mobileDevice: 320px;
$tabletDevice: 660px;
$desktopDevice: 1024px;

$minimum-font-size: 10px;
$text-font-size: 12px;
$normal-font-size: 15px;
$average-font-size: 17px;
$big-font-size: 20px;
$large-font-size: 25px;
$huge-font-size: 28px;
$desktop-headers-font-size: 35px;

$font-weight-small: 500;
$font-weight-normal: 600;
$font-weight-large: 700;

$black: #000000;
$white: #FFFFFF;
$gray: rgba(0, 0, 0, 0.41);
$green: #08cc69;
$red: #FF0000FF;
$orange: #f44d42;
$blurred-green: #baffd8;