@import "src/styles/variables";

.posts {
  display: grid;

  @media screen and (min-width: $mobileDevice) {
    grid-gap: 10px;
    max-width: $mobileDevice;
  }

  @media screen and (min-width: $tabletDevice) {
    grid-gap: 15px;
    max-width: $tabletDevice;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    padding: 0 53px;
    grid-gap: 20px;
  }
}

.posts__header {
  grid-column: 1/-1;
  font-weight: 500;

  @media screen and (min-width: $mobileDevice) {
    margin: 10px 0 0 0;
    font-size: 17px;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: 25px;
  }

  @media screen and (min-width: $desktopDevice) {
    font-size: 35px;
    margin: 15px 0 0 0;
  }
}

.posts__button-show-all,
.posts__button-hide-all {
  display: grid;
  background-color: $font-orange;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: 600;

  &:hover {
    background-color: $font-green;
    color: $font-white;
  }

  @media screen and (min-width: $mobileDevice) {
    min-width: 100px;
    padding: 5px 12px;
    margin: 0 auto 10px;
    font-size: 12px;
  }

  @media screen and (min-width: $desktopDevice) {
    min-width: 150px;
    padding: 10px 20px;
    font-size: 12px;
    margin: 0 auto 50px;
  }
}