@import "src/styles/variables";

.comment {
  display: flex;
  border: 1px solid #000000;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;

  @media screen and (min-width: $mobileDevice) {
    font-size: 10px;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: 12px;
  }

  @media screen and (min-width: $desktopDevice) {
    font-size: unset;
  }
}