@import "src/styles/variables";

.comment {
  display: flex;
  border: 1px solid #000000;
  flex-direction: column;
  padding: 10px;
  font-size: $normal-font-size;

  @media screen and (min-width: $mobileDevice) {
    font-size: $minimum-font-size;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $text-font-size;
  }

  @media screen and (min-width: $desktopDevice) {
    font-size: unset;
  }
}