$mobileDevice: 320px;
$tabletDevice: 660px;
$desktopDevice: 1024px;

$font-black: #000000;
$font-white: #FFFFFF;
$font-gray: rgba(0, 0, 0, 0.41);
$font-green: #06b25a;
$font-red: #FF0000FF;
$font-orange: #f44d42;

.no-match-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-red;
  padding: 10px;
}

.no-match-page__link {
  text-decoration: none;
  color: $font-black;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  border: 2px solid $font-black;
  border-radius: 10px;

  &:hover {
    background-color: $font-green;
  }
}