$mobileDevice: 320px;
$tabletDevice: 660px;
$desktopDevice: 1024px;

$font-black: #000000;
$font-white: #FFFFFF;

.landing-page__main-section {
  position: relative;
  background: url("../../../public/main-bg.png") $font-black center;
  background-size: cover;

  @media screen and (min-width: $desktopDevice) {
    min-height: 439px;
  }
}

.landing-page__main-section-header,
.landing-page__main-section-sub-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $font-white;
  margin: 0;
  background: radial-gradient(150% 50% at 50% 60%, #000000 50%, rgba(0, 0, 0, 0) 100%);

  @media screen and (min-width: $desktopDevice) {
    font-size: 50px;
    font-weight: 700;
  }
}

.landing-page__main-section-sub-header {
  top: 60%;
  @media screen and (min-width: $desktopDevice) {
    font-size: 30px;
    font-weight: 700;
  }
}