@import "src/styles/variables";

.users {
  display: grid;

  @media screen and (min-width: $mobileDevice) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 8px;
  }

  @media screen and (min-width: $tabletDevice) {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px;
  }

  @media screen and (min-width: $desktopDevice) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 13px;
    padding: 0 60px;
  }
}

.users__header {
  display: grid;
  grid-column: 1/-1;
  margin: 10px 0;

  @media screen and (min-width: $mobileDevice) {
    font-size: $average-font-size;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $large-font-size;
  }

  @media screen and (min-width: $desktopDevice) {
    font-size: $desktop-headers-font-size;
  }
}

.users__link {
  text-decoration: none;
  color: $white;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid $black;

  &:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
  }

  @media screen and (min-width: $mobileDevice) {
    font-size: $text-font-size;
    max-width: 120px;
    margin: 0 0 7px 7px;
  }

  @media screen and (min-width: $tabletDevice) {
    max-width: 130px;
  }

  @media screen and (min-width: $desktopDevice) {
    font-weight: $font-weight-normal;
    max-width: 148px;
    margin: 0 0 15px 17px;
  }
}

.users__user-card {
  display: grid;
  border: 1px solid $black;

  @media screen and (min-width: $mobileDevice) {
    min-height: 100px;
  }

  @media screen and (min-width: $tabletDevice) {
    min-height: 120px;
  }

  @media screen and (min-width: $desktopDevice) {
    min-height: 143px;
  }
}

.users__user-card-name {
  @media screen and (min-width: $mobileDevice) {
    padding: 7px 0 0 7px;
    font-size: $text-font-size;
    font-weight: $font-weight-normal;
  }

  @media screen and (min-width: $tabletDevice) {
    padding: 12px 0 0 12px;
  }

  @media screen and (min-width: $desktopDevice) {
    padding: 14px 0 0 17px;
    font-size: $average-font-size;
    font-weight: $font-weight-large;
    color: $black;
  }
}

.users__user-card-city {
  @media screen and (min-width: $mobileDevice) {
    font-size: $text-font-size;
    padding-left: 7px;
  }

  @media screen and (min-width: $tabletDevice) {
    padding-left: 12px;
  }

  @media screen and (min-width: $desktopDevice) {
    font-size: $text-font-size;
    color: $gray;
    padding-left: 17px;
  }
}