@import "src/styles/variables";

.post {
  display: grid;
  border: 1px solid #000000;
  grid-template-rows: repeat(4, 0.1fr);
  @media screen and (min-width: $mobileDevice) {
    grid-gap: 10px;
    font-size: 12px;
  }

  @media screen and (min-width: $desktopDevice) {
    grid-gap: 20px;
    & * {
      padding: 14px 20px 0 20px;
      margin: 0;
    }
  }
}

.post__header {
  &:first-letter {
    text-transform: capitalize;
  }

  @media screen and (min-width: $mobileDevice) {
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0;
    padding-left: 7px;
    min-height: 40px;
  }

  @media screen and (min-width: $desktopDevice) {
    min-height: 74px;
    font-size: 17px;
    font-weight: 700;
  }
}

.post__button-open,
.post__button-close {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blurred-green;

  &:hover {
    background-color: $green;
    color: $white;
  }

  @media screen and (min-width: $mobileDevice) {
    font-size: 10px;
    transform: translateY(-15px);
    border: none;
    max-height: 25px;
    padding: 5px 12px;
  }

  @media screen and (min-width: $desktopDevice) {
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-30px);
    max-height: 40px;
  }
}

.post__button-close {
  background: $green;
  color: $white;

  @media screen and (min-width: $mobileDevice) {
    transform: translateY(0);
  }
}

.post__link {
  display: grid;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: $black;
  border-radius: 10px;
  justify-self: center;

  &:hover {
    background-color: $green;
  }

  @media screen and (min-width: $mobileDevice) {
    max-width: 80px;
    font-size: 10px;
    padding: 7px 10px;
    margin-bottom: 7px;
  }

  @media screen and (min-width: $tabletDevice) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: $desktopDevice) {
    max-width: 120px;
    font-size: 15px;
    max-height: 50px;
    margin-bottom: 20px;
  }
}

.post__text {
  &:first-letter {
    text-transform: capitalize;
  }
  @media screen and (min-width: $mobileDevice) {
    margin: 0;
    padding-left: 7px;
  }
}