@import "src/styles/variables";

.no-match-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $red;
  padding: 10px;
}

.no-match-page__link {
  text-decoration: none;
  color: $black;
  font-size: $average-font-size;
  font-weight: $font-weight-normal;
  padding: 10px;
  border: 2px solid $black;
  border-radius: 10px;

  &:hover {
    background-color: $green;
  }
}